table, th, td {
   padding: 15px;
   height: 50px;
}

#left { text-align: left; }
#center { text-align: center; }
tr:hover {background-color: #ddd;}

.front_page {
   text-align: center;
   font-style: oblique;
   font-weight: bold;
   font-family: Garamond, serif;
   font-size: 40px;
}

.update_message {
   text-align: center;
   font-family: Garamond, serif;
   font-size: 20px;
   color: red;
}
