
{% extends "layout.html" %}
{% block body %}
<div class="mx-auto" style="width:800px;">
   <h2>Konsertit</h2>
   <hr>
   <h5>Kaikki tietokannassa olevat konsertit</h5>
   <br>
   <table>
      <tr>
         <th>Konsertti</th>
         <th>Kappaleita ohjelmistossa</th>
      </tr>
      {% for concert in concerts %}
      <tr>
         <td><a href="{{ url_for('concerts_show', concert_id=concert.id) }}">{{ concert.name }}</a></td>
         <td align="center">{{ concert.pieces }} </td>
      </tr>
      {% endfor %}
   </table>
</div>
{% endblock %}
