
{% extends "layout.html" %}
{% block body %}
<div class="mx-auto" style="width:800px;">
   <h2>Konsertit</h2>
   <hr>
   <h5>Lisää uusi konsertti</h5>
   <br>
   <form method="POST" action="{{ url_for('concerts_create', piece_id = piece_id) }}">
      <table>
         <tr>
            <td>Nimi:</td>
            <td>{{ form.name }}</td>
            <td>
               <ul>
                  {% for error in form.name.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
               </ul>
            </td>
         </tr>
         <tr>
            <td>Päivämäärä (muodossa pp.kk.vvvv):</td>
            <td>{{ form.date }}</td>
            <td>
               <ul>
                  {% for error in form.date.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
               </ul>
            </td>
         </tr>
         <tr>
            <td>Paikka:</td>
            <td>{{ form.venue }}</td>
            <td>
               <ul>
                  {% for error in form.venue.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
               </ul>
            </td>
         </tr>
         <tr>
            <td colspan="2">
               <input type="submit" value="Lisää"/>
            </td>
         </tr>
      </table>
   </form>
</div>
{% endblock %}
