
{% extends "layout.html" %}
{% block body %}
<div class="mx-auto" style="width:800px;">
   <h2>Konsertit</h2>
   <hr>
   <h5>Lisää uusi konsertti</h5>
   <br>
   <form method="POST" action="{{ url_for('concerts_create', piece_id = piece_id) }}">
      <div class ="form-group">
         <label for="name">Konsertin nimi:</label>
         <input type="text" class="form-control" id="name" name="name" placeholder="Syötä konsertin nimi...">
      </div>
      <ul>
         {% for error in form.name.errors %}
         <span style="color: red;">
         <li>{{ error }}</li>
         </span>
         {% endfor %}
      </ul>
      <div class ="form-group">
         <label for="name">Päivämäärä:</label>
         <input type="text" class="form-control" id="date" name="date" placeholder="vvvv-kk-pp">
      </div>
      <ul>
         {% for error in form.date.errors %}
         <span style="color: red;">
         <li>{{ error }}</li>
         </span>
         {% endfor %}
      </ul>
      <div class ="form-group">
         <label for="venue">Paikka:</label>
         <input type="text" class="form-control" id="venue" name="venue" placeholder="Syötä paikka...">
      </div>
      <ul>
         {% for error in form.venue.errors %}
         <span style="color: red;">
         <li>{{ error }}</li>
         </span>
         {% endfor %}
      </ul>
      <button type="submit" class="btn btn-primary">Lisää</button>
   </form>
</div>
{% endblock %}
