
{% extends "layout.html" %}
{% block body %}
<div class="mx-auto" style="width:800px;">
   <h3>{{ composer.name }}</h3>
   {% if current_user.is_authenticated %}
   <hr>
   <h5>Muokkausvaihtoehdot</h5>
   <ul>
      <li><a href="{{ url_for('composers_edit', composer_id=composer.id) }}">Muokkaa nimeä</a></li>
      {% if current_user.is_admin and current_user.is_admin() %}
      <li><a href="{{ url_for('composers_delete', composer_id=composer.id) }}">Poista koko rivi</a></li>
      {% endif %}
   </ul>
   {% endif %}
   <hr>
   <h5>Säveltäjän kappaleet tietokannassa</h5>
   <ul>
   {% for piece in composer.pieces %}
   <li><a href="{{ url_for('pieces_show', piece_id = piece.id) }}">{{ piece.name }}</a></li>
   {% endfor %}
</div>
{% endblock %}
