
{% extends "layout.html" %}
{% block body %}
<div class="mx-auto" style="width:800px;">
   <h3>{{ arranger.name }}</h3>
   <hr>
   <p>Poista rivi <i>{{ arranger.name }}</i>:</p>
   <form method="POST" action="{{ url_for('arrangers_delete', arranger_id=arranger_id) }}">
      <table>
         <tr>
            <td>Vahvista poisto</td>
            <td>{{ form.delete }}</td>
            <td colspan="4">
               <input type="submit" value="Poista"/>
            </td>
         </tr>
      </table>
   </form>
</div>
{% endblock %}
