
{% extends "layout.html" %}
{% block body %}
<div class="mx-auto" style="width:800px;">
   <h2>Sovittajat</h2>
   <p>Valittuna: <i>{{ arranger.name }}</i></p>
   {% if current_user.is_authenticated %}
   <p><a href="{{ url_for('arrangers_edit', arranger_id=arranger.id) }}">Muokkaa nimeä</a></p>
      {% if current_user.admin %}
      <p><a href="{{ url_for('arrangers_delete', arranger_id=arranger.id) }}">Poista koko rivi</a></p>
      {% endif %}
   {% endif %}
   <br>
   <p><b>Sovittajan <i>{{ arranger.name }}</i> kappaleet tietokannassa:</b></p>
   {% for piece in arranger.pieces %}
   <ul> {{ piece.name }} </ul>
   {% endfor %}
</div>
{% endblock %}
