
{% extends "layout.html" %}
{% block body %}
<div class="mx-auto" style="width:800px;">
   <h3>{{  piece.name  }}</h3>
   <hr>
   <h5>Lisää uusi muistiinpano</h5>
   <br>
   <!--<form method="POST" action="{{ url_for('notes_create', piece_id = piece_id) }}">
      <table>
         <tr>
         <td>Muistiinpano:</td>
         <td>{{ form.comment }}</td>
         <td>
            <ul>
               {% for error in form.comment.errors %}
                  <li>{{ error }}</li>
               {% endfor %}
            </ul>
         </td>
         <td colspan="3">
            <input type="submit" value="Lisää"/>
         </td>
      </tr>
   </form>-->
   <p>Muistiinpanon lisäys lakkasi jostain syystä toimimasta.</p>
</div>
{% endblock %}
