
{% extends "layout.html" %}
{% block body %}
<div class="mx-auto" style="width:800px;">
   <h3>{{ style.name }}</h3>
   <hr>
   <p>Muokkaa nimeä <i>{{ style.name }}</i></p>
   <br>
   <form method="POST" action="{{ url_for('styles_edit', style_id=style_id) }}">
      <table>
         <tr>
            <td>Syötä uusi nimi:</h5>
            <td>{{ form.newname }}</td>
            <td>
               <ul>
                  {% for error in form.newname.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
               </ul>
            </td>
            <td colspan="4">
               <input type="submit" value="Päivitä"/>
            </td>
         </tr>
      </table>
   </form>
</div>
{% endblock %}
