{% extends "layout.html" %}
  
{% block body %}

<form method="POST" action="{{ url_for('styles_modify', style_id=style_id) }}">
   <table>
      <tr>
         <td>{{ form.newname.label }}</td>
         <td>{{ form.newname }}</td>
         <td>
            <ul>
               {% for error in form.newname.errors %}
               <li>{{ error }}</li>
               {% endfor %}
            </ul>
         </td>
         <td colspan="4">
            <input type="submit" value="Päivitä"/>
         </td>
      </tr>
   </table>
</form>
   
{% endblock %}
