
{% extends "layout.html" %}
{% block body %}
<div class="mx-auto" style="width:800px;">
   <h3>{{ user.name }}</h3>
   <hr>
   {% if current_user.is_admin and current_user.is_admin() %}
   <p>Poista rivi <i>{{ user.name }}</i>:</p>
   <form method="POST" action="{{ url_for('auth_delete', user_id=user_id) }}">
      <div class ="form-check">
         <input class="form-check-input" type="checkbox" value="" id="defaultChec1">
         <label class="form-check-label1" for="defaultCheck1">Vahvista poisto</label>
      </div>
      <button type="submit" class="btn btn-primary">Päivitä</button>
   </form>
   {% else %}
   <p>Vain pääkäyttäjällä on oikeus poistaa rivejä tietokannasta!</p>
   {% endif %}
</div>
{% endblock %}
