
{% extends "layout.html" %}
{% block body %}
<div class="mx-auto" style="width:800px;">
   <h2>Profiili</h2>
   {% if current_user.is_authenticated %}
   <hr>
   <p>Nimi: {{  user.name  }}</p>
   <p>Käyttäjänimi: {{  user.username  }}</p>
   <br>
   <h5>Vaihda salasana</h5>
   <br>
   <form method="POST" action="{{ url_for('auth_profile', user_id = user.id) }}">
      <div class ="form-group">
         <label for="newpassword">Uusi salasana:</label>
         <input type="password" class="form-control" id="newpassword" name="newpassword" placeholder="Syötä uusi salasana...">
      </div>
      <ul>
         {% for error in form.newpassword.errors %}
         <span style="color: red;">
         <li>{{ error }}</li>
         </span>
         {% endfor %}
      </ul>
      <div class ="form-group">
         <label for="newpassword2">Vahvista uusi salasana:</label>
         <input type="password" class="form-control" id="newpassword2" name="newpassword2" placeholder="Syötä sama salasana uudestaan...">
      </div>
      <ul>
         {% for error in form.newpassword2.errors %}
         <span style="color: red;">
         <li>{{ error }}</li>
         </span>
         {% endfor %}
      </ul>
      <button type="submit" class="btn btn-primary">Päivitä</button>
   </form>
   {% endif %}
</div>
{% endblock %}
