
{% extends "layout.html" %}
{% block body %}
<div class="mx-auto" style="width:800px;">
   {% if current_user.admin %}
   <h2>Käyttäjät</h2>
   <hr>
   <h5>Luo uusi käyttäjä</h5>
   <br>
   <form method="POST" action="{{ url_for('auth_create') }}">
      <div class ="form-group">
         <label for="name">Käyttäjän nimi:</label>
         <input type="text" class="form-control" id="name" name="name" placeholder="Syötä käyttäjän nimi...">
      </div>
      <ul>
         {% for error in form.name.errors %}
         <span style="color: red;">
         <li>{{ error }}</li>
         </span>
         {% endfor %}
      </ul>
      <div class ="form-group">
         <label for="username">Käyttäjätunnus:</label>
         <input type="text" class="form-control" id="username" name="username" placeholder="Syötä käyttäjätunnus...">
      </div>
      <ul>
         {% for error in form.username.errors %}
         <span style="color: red;">
         <li>{{ error }}</li>
         </span>
         {% endfor %}
      </ul>
      <div class ="form-group">
         <label for="password">Salasana:</label>
         <input type="password" class="form-control" id="password" name="password" placeholder="Syötä salasana...">
      </div>
      <ul>
         {% for error in form.password.errors %}
         <span style="color: red;">
         <li>{{ error }}</li>
         </span>
         {% endfor %}
      </ul>
      <div class ="form-group">
         <label for="password2">Vahvista salasana:</label>
         <input type="password" class="form-control" id="password2" name="password2" placeholder="Syötä sama salasana uudestaan...">
      </div>
      <ul>
         {% for error in form.password2.errors %}
         <span style="color: red;">
         <li>{{ error }}</li>
         </span>
         {% endfor %}
      </ul>
      <div class ="form-group">
         <input type="checkbox" class="form-check-input" id="admin" name="admin">
         <label class="form-check-label" for="admin">Admin-oikeudet</label>
      </div>
      <button type="submit" class="btn btn-primary">Luo tunnus</button>
   </form>
   {% endif %}
</div>
{% endblock %}


