

{% extends "layout.html" %}
{% block body %}

<p>Luo uusi käyttäjä</p>

<form method="POST" action="{{ url_for('auth_create') }}">
   <table>
   <tr>
      <td>Käyttäjän nimi:</td>
      <td>{{ form.name }}</td>
      <td>
         <ul>
            {% for error in form.name.errors %}
            <span style="color: red;">
               <li>{{ error }}</li>
            </span>
            {% endfor %}
         </ul>
      </td>
      <td>Käyttäjätunnus:</td>
      <td>{{ form.username }}</td>
      <td>
         <ul>
            {% for error in form.username.errors %}
            <span style="color: red;">
               <li>{{ error }}</li>
            </span>
            {% endfor %}
         </ul>
      </td>
      <td>Admin-oikeudet:</td>
      <td>{{ form.admin }}</td>
   </tr>
   <tr>
      <td>Salasana:</td>
      <td>{{ form.password }}</td>
      <td>
         <ul>
            {% for error in form.password.errors %}
            <span style="color: red;">
               <li>{{ error }}</li>
            </span>
            {% endfor %}
         </ul>
      </td>
      <td>Salasana uudestaan:</td>
      <td>{{ form.password2 }}</td>
      <td>
         <ul>
            {% for error in form.password2.errors %}
            <span style="color: red;">
               <li>{{ error }}</li>
            </span>
            {% endfor %}
         </ul>
      </td>
   </tr>
   <tr>
      <td colspan="4">
         <input type="submit" value="Luo tunnus"/>
      </td>
   </tr>
</form>
{% endblock %}


