
{% extends "layout.html" %}
{% block body %}
<div class="mx-auto" style="width:800px;">
   <h3>{{ tech.name }}</h3>
   <hr>
   <p>Muokkaa nimeä <i>{{ tech.name }}</i></p>
   <br>
   <form method="POST" action="{{ url_for('techniques_edit', technique_id=technique_id) }}">
      <div class ="form-group">
         <label for="newname">Nimi</label>
         <input type="text" class="form-control" id="newname" name="newname" placeholder="Syötä uusi nimi...">
      </div>
      <ul>
         {% for error in form.newname.errors %}
         <span style="color: red;">
         <li>{{ error }}</li>
         </span>
         {% endfor %}
      </ul>
      <button type="submit" class="btn btn-primary">Päivitä</button>
   </form>
</div>
{% endblock %}
