
{% extends "layout.html" %}
{% block body %}
<div class="mx-auto" style="width:800px;">
   <h2>Erikoistekniikat</h2>
   <hr>
   <h5>Kaikki tietokannassa olevat erikoistekniikat</h5>
   <br>
   <table>
      <tr>
         <th>Erikoistekniikka</th>
      </tr>
      {% for technique in techniques %}
      <tr>
         <td>{{ technique.name }}</td>
         {% if current_user.is_authenticated %}
         <td><a href="{{ url_for('techniques_edit', technique_id=technique.id) }}">Muokkaa</a></td>
            {% if current_user.is_admin and current_user.is_admin() %}
            <td> tai </td>
            <td><a href="{{ url_for('techniques_delete', technique_id=technique.id) }}">poista koko rivi</a></td>
            {% endif %}
         {% endif %}
      </tr>
      {% endfor %}
   </table>
</div>
{% endblock %}
