
{% extends "layout.html" %}
{% block body %}
<div class="mx-auto" style="width:800px;">
   <h3>{{  piece.name  }}</h3>
   <hr>
   <h5>Lisää uusi erikoistekniikka</h5>
   <br>
   <form method="POST" action="{{ url_for('techniques_create', piece_id = piece_id) }}">
      <div class ="form-group">
         <label for="name"></label>
         <input type="text" class="form-control" id="name" name="name" placeholder="Syötä erikoistekniikan nimi...">
      </div>
      <ul>
         {% for error in form.name.errors %}
         <span style="color: red;">
         <li>{{ error }}</li>
         </span>
         {% endfor %}
      </ul>
      <button type="submit" class="btn btn-primary">Lisää</button>
   </form>
</div>
{% endblock %}
