
{% extends "layout.html" %}
{% block body %}
<div class="mx-auto" style="width:800px;">
   <h2>Kappaleet</h2>
   <hr>
   <h5>Kaikki tietokannassa olevat kappaleet</h5>
   <br>
   <table>
      <tr>
         <th>Nimi</th>
      </tr>
      {% for piece in pieces %}
      <tr>
         <td>{{ piece.name }}</td>
         {% if current_user.is_authenticated %}
         <td><a href="{{ url_for('pieces_show', piece_id=piece.id) }}">Näytä tiedot</a></td>
         {% endif %}
      </tr>
      {% endfor %}
   </table>
   <hr>
   {% if pieces_by_style is defined %}
   <h5>Tietokannan kappaleet tyylilajeittain</h5>
   <br>
   <table>
      <tr>
         <th>Tyylilaji</th>
         <th>Kappaleita</th>
         <th>Minuutteja</th>
      </tr>
      {% for entry in pieces_by_style %}
      <tr>
         <td>{{ entry.style }}<td>
         <td>{{ entry.pieces }}</td>
         <td>{{ entry.minutes }}</td>
      </tr>
      {% endfor %}
   </table>
   {% endif %}
</div>
{% endblock %}

