  {% extends "layout.html" %}

  {% block body %}
  <form method="POST" action="{{ url_for('pieces_create') }}">
    <table>
      <tr>
	<td>
	  {{ form.name.label }}
	</td>
	<td>
	  {{ form.name }}
	</td>
        <td>
	  {{ form.octaves.label }}
	</td>
	<td>
	  {{ form.octaves }}
	</td>
        <td>
	  {{ form.length.label }}
	</td>
	<td>
	  {{ form.length }}
	</td>
      </tr>
      <tr>
	<td colspan="4">
	  <input type="submit" value="Add a new piece"/>
	</td>
      </tr>
  </form>
  {% endblock %}
