
{% extends "layout.html" %}
{% block body %}
<div class="mx-auto" style="width:800px;">
   <h2>Kappaleet</h2>
   <hr>
   <h5>Lisää uusi kappale</h5>
   <br>
   <div class=container">
   <form method="POST" action="{{ url_for('pieces_create') }}">
      <div class ="form-group">
         <label for="name">Kappaleen nimi:</label>
         <input type="text" class="form-control" id="name" name="name" placeholder="Syötä kappaleen nimi...">
      </div>
      <ul>
         {% for error in form.name.errors %}
         <li>{{ error }}</li>
         {% endfor %}
      </ul>
      <div class ="form-group">
         <label for="octaves">Käytetyt oktaavit:</label>
         <input type="text" class="form-control" id="octaves" name="octaves" placeholder="Syötä oktaavit...">
      </div>
      <ul>
         {% for error in form.octaves.errors %}
         <li>{{ error }}</li>
         {% endfor %}
      </ul>
      <div class ="form-group">
         <label for="length">Pituus (minuutteina):</label>
         <input type="text" class="form-control" id="length" name="length" placeholder="Syötä kappaleen pituus...">
      </div>
      <ul>
         {% for error in form.length.errors %}
         <li>{{ error }}</li>
         {% endfor %}
      </ul>
      <div class="form-group">
         <label for="composer_list">Säveltäjä (valitse listasta tai syötä uusi):</label>
         <select multiple class="form-control" id="composer_list" name="composer_list">
            <option selected>Valitse...</option>
            {% for composer in composers %}
            <option name="{{  composer.name  }}">{{  composer.name  }}</option>
            {% endfor %}
         </select>
      <div class ="form-group">
         <label for="composer_new"></label>
         <input type="text" class="form-control" id="composer_new" name="composer_new" placeholder="Syötä uusi säveltäjä...">
      </div>
      <ul>
         {% for error in form.composer_new.errors %}
         <li>{{ error }}</li>
         {% endfor %}
      </ul>
      <div class="form-group">
         <label for="arranger_list">Sovittaja (valitse listasta tai syötä uusi):</label>
         <select multiple class="form-control" id="arranger_list" name="arranger_list">
            <option selected>Valitse...</option>
            {% for arranger in arrangers %}
            <option name="{{  arranger.name  }}">{{  arranger.name  }}</option>
            {% endfor %}
         </select>
      <div class ="form-group">
         <label for="arranger_new"></label>
         <input type="text" class="form-control" id="arranger_new" name="arranger_new" placeholder="Syötä uusi sovittaja...">
      </div>
      <ul>
         {% for error in form.arranger_new.errors %}
         <li>{{ error }}</li>
         {% endfor %}
      </ul>
      <div class="form-group">
         <label for="style_list">Tyylilaji (valitse listasta tai syötä uusi):</label>
         <select multiple class="form-control" id="style_list" name="style_list">
            <option selected>Valitse...</option>
            {% for style in styles %}
            <option name="{{  style.name  }}">{{  style.name  }}</option>
            {% endfor %}
         </select>
      </div>
      <div class ="form-group">
         <label for="style_new"></label>
         <input type="text" class="form-control" id="style_new" name="style_new" placeholder="Syötä uusi tyylilaji...">
      </div>
      <ul>
         {% for error in form.style_new.errors %}
         <li>{{ error }}</li>
         {% endfor %}
      </ul>
      <button type="submit" class="btn btn-primary">Lisää</button>
   </form>
</div>
{% endblock %}


