
{% extends "layout.html" %}
{% block body %}
<div class="mx-auto" style="width:800px;">
   <h3>{{ piece.name }}</h3>
   {% if current_user.is_authenticated %}
   <hr>
   <h5>Muokkausvaihtoehdot</h5>
   <ul>
      <li><a href="{{ url_for('pieces_edit', piece_id=piece.id) }}">Muokkaa kappaleen tietoja</a></li>
      <li><a href="{{ url_for('pieces_techniques', piece_id=piece.id) }}">Lisää erikoistekniikka</a></li>
      {% if current_user.is_admin and current_user.is_admin() %}
      <li><a href="{{ url_for('pieces_notes', piece_id=piece.id) }}">Lisää muistiinpano</a></li>
      <li><a href="{{ url_for('pieces_concerts', piece_id=piece.id) }}">Lisää konsertti</li>
      <li><a href="{{ url_for('pieces_delete', piece_id=piece.id) }}">Poista koko rivi</a></li>
      {% endif %}
   </ul>
   {% endif %}
   <hr>
   <h5>Tiedot</h5>
   <ul>
      <li><b>Nimi:</b> {{ piece.name }}</li>
      <li><b>Säveltäjä:</b> {{ piece.composer.name }}</li>
      <li><b>Sovittaja:</b> {{ piece.arranger.name }}</li>
      <li><b>Tyylilaji:</b> {{ piece.style.name }}</li>
      <li><b>Oktaavit:</b> {{ piece.octaves }}</li>
      <li><b>Pituus:</b> {{ piece.length }}</li>
      <li><b>Erikoistekniikat:</b></li>
         <ul>
            {% for technique in piece.techniques %}
            <li>{{ technique.name }}</li>
            {% endfor %}
         </ul>
   </ul>
   <hr>
   {% if current_user.is_admin and current_user.is_admin() %}
   <h5>Lisätiedot</h5>
   <p><b>Konsertit:</b></p>
   <ul>
      {% for concert in piece.concerts %}
      <li>{{  concert.name  }}, {{  concert.date  }}, {{  concert.venue  }}</li>
      {% endfor %}
   </ul>
   <br>
   <p><b>Muistiinpanot:</b></p>
   <ul>
      {% for note in notes %}
      <li>{{ note.comment }}</li>
      {% endfor %}
   </ul>
   {% endif %}
</div>
{% endblock %}
